---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
--- 

$color_scheme: '{{ site.color_scheme }}';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Merriweather:wght@400;700&display=swap');
@import "custom";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

img {
  max-width: 100%;   /* set your desired size */
  height: auto;       /* keeps correct proportions */
}

.scroll-gallery {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding: 10px 0;
  scroll-snap-type: x mandatory;
}

.scroll-gallery img {
  height: 450px;
  flex-shrink: 0;
  border-radius: 6px;
  scroll-snap-align: start;
}

.scroll-gallery::-webkit-scrollbar {
  height: 8px;
}

.scroll-gallery::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}

.scroll-gallery::-webkit-scrollbar-track {
  background: #eee;
}

